.venv/
.venv-gpu/
.venv-unsloth/

checkpoint-120/
comparison_outputs/
comparison_outputs_actual_text_pdf/
comparison_outputs_actual_text_png/
comparison_outputs_actual_text_png_cpu/

local_finetuned_model*/
unsloth_compiled_cache/
__pycache__/
.cache/
tmp/

*.7z
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.pyc
*.pyo
.env
